<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/logo-uho.png" type="image/icon type" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>E-KTM Prodi Ilmu Komputer UHO | <%= title %></title>
</head>
<body>
    <main>
        <%- body %>
    </main>
    <% if (err.length > 0 || msg.length > 0) { %>
            <script>
                const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                })
                <% if (err.length > 0){ %>
                Toast.fire({
                    icon: 'error',
                    title: '<%= err %>'
                })
                <% } %>
                <% if (msg.length > 0){ %>
                Toast.fire({
                    icon: 'success',
                    title: '<%= msg %>'
                })
                <% } %>
            </script>
            <% } %>
</body>
</html>